.vs/
.vscode/
.idea/
**/bin/
**/obj/
*.user
*.suo
*.pdb
*.dll
*.exe
*.lmpkg
*.lmpkg.tmp
*.sha256
dist/*
!dist/.gitkeep
payload/*
!payload/.gitkeep
*.png
*.jpg
*.jpeg
*.webp
*.bundle
*.assets
*.resS
*.log
